//colors

$primary-color: #4F008C;
$secondary-color: #FF375E;
$grey-color: #8E9AA0;
$grey-color-1: #E8E8E8;
$light-grey-color: #F3F3F1;
$light-grey-color-2: #E5E7EA;
$light-green: #00C48C;
$dark-pruple: #420374;
//font
$font-path: "/assets/fonts"