<section class="expired-page">
  <div
    class="flex justify-content-center align-items-center flex-column relative"
  >
    <img class="error-gif" src="/assets/images/error.gif" alt="Not Found GIF" />
    <div class="error-text absolute">
      <h2 class="text-center text-secondary text-semibold-lg mb-2">
        {{ "AUTH.EXPIRED.TITLE" | translate }}<br />
        {{ "AUTH.EXPIRED.MESSAGE" | translate }}
      </h2>
      <p class="text-grey text-normal-lg m-0">
        {{ "AUTH.EXPIRED.REASON" | translate }}
      </p>
    </div>
  </div>
</section>
